<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
		</Property>
		<Property name="basePath">logs</Property>
	</Properties>
	<Appenders>
		<!-- Rolling File Appender -->
		<RollingFile name="playlistLog" fileName="${basePath}/playListCreation.log" filePattern="${basePath}/playListCreation-%d{yyyy-MM-dd}.log">
            <PatternLayout   pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="${LOG_PATTERN}" />
        </Console>
	</Appenders>
	<Loggers>
		<Logger name="com.coding.exercise.content.playlist"
			level="debug" additivity="false">
			<AppenderRef ref="playlistLog" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>